<footer>
    <div class="f-info">
        <a class="f-info-social">
            <a href="https://github.com/adikulkarni006" class="text-dark"><i class="fa-brands fa-github"></i></a>
            <a href=" https://www.linkedin.com/in/advait-kulkarni-73b1a0327/" class="text-dark"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://linktr.ee/advaitkulkarni006" class="text-dark"><i class="fa-solid fa-link"></i></a>
            <a href="https://wa.me/919225516096?text=Hi%20Advait" class="text-dark"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://leetcode.com/u/adikulkarni006/" class="text-dark"><i class="fa-solid fa-code"></i></a>
        </div>

        <div class="f-info-brand">&copy;Nesterra Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>